.container {
    display: flex;
    min-width: 600px;
}
.item-1 {
    width: 200px;
}
.item-2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.item-3 {
    width: 300px;
    display: flex;
    align-items: flex-start;
}
.vl {
    border-left: 2px solid black;
    height: 100vh;
}
